@model IEnumerable<Translator2.Models.Platform>

<h1>@ViewBag.Title</h1>
@foreach (var platform in Model)
{
    @*<div>
        <h2>@platform.Id</h2>
        <h3>@platform.Name</h3>
        <h4>@platform.ImageUrl</h4>
        <h4>@platform.IsActive</h4>
    </div>*@

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@Url.Content(@platform.ImageUrl)" alt="@platform.ImageUrl" height="200" width="180" /> 
            <div class="caption">
                @*<h3 class="pull-right">@platform.Id</h3>*@
                <h3>
                    <a>@platform.Name</a>
                </h3>
                <p>@platform.IsActive</p>
            </div>
        </div>
    </div>
}
